# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle
.bat

# other
eclipse
run
classes/*
config/*
saves/*
resourcepacks/*
logs/*
*.txt
usercache.json
usernamecache.json